<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Agribook</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="normalize.css">
</head>
<body>
  <header>
    <ul>
      <li><a href="#">Agribook</a></li>
      <li><a href="#">トップページ</a></li>
      <li><a href=tasks_path>リクエスト</a></li>
    </ul>
  </header>
  <section class="main-header">
    <p class="flash"><%= notice %><%= alert %></p>
    <img src="<%= asset_path "achieve.png" %>">
  </section>
  <section class="about">
    <h1>Agribookとは？</h1>
    <p>
       Agtibookは、安全な農法と安心な食物を見つけるために作成された、アプリです。<br>
    </p>
    <p>
       Agribookは、つながるためのアプリです。<br>
       メンバーが、今どのようなリクエストを出しているかリアルタイムで把握してメンバー間のニーズの解決をサポートします。
    </p>
  </section>

  <footer>
    <p>運営会社Agribook合同会社</p>
    <p>2017 Copyright Agribook GK</p>
  </footer>
</body>
</html>
