<link rel="stylesheet" href="style.css">
<%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<section class="main-header">
<p class="flash"><%= notice %><%= alert %></p>
    <section class="about">
      <div class="main-title">
      <h1>Agribookとは？</h1>
      <div>
      <p>
      <h4> Agribookは、安全な農法と安心な食物を見つけるために作成された、アプリです<br>
      </p>
      <br>
      <p>
         メンバーが、今どのようなリクエストを出しているかリアルタイムで把握してメンバー間のニーズの解決をサポートします。
       </p>
       <p>
         まずは、メニューからユーザー登録をお願いします。<br>
         次に「お知らせ」ページに、探しているものや提供できるものを自由に書いてみてください。それを元にメッセージのやりとりができます。<br>
         さらに、「お願い」に進めば、そこから相手を見つけたり、相手に依頼をかけることで、ニーズを解決することができます。</h4>
       </p>
    </section>

      <img src="<%= asset_path "potato.JPG", class: "img-responsive" %>">
  </section>


  <footer>
    <p>Agribook合同会社</p>
    <p>© 2016-2017 Copyright Agribook GK..</p>
  </footer>
