
header {
  text-align: right;
  width: 100%;
  background-color: #BDB76B;
  height: 54px;
}

header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

header li {
  float: left;
  width: auto;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

.main-header {
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: url("images-master/header.jpg");
  background-attachment: fixed;
}

.main-header img {
  display: block;
  margin: 0 auto;
  width: 25%;
  //padding-top: 15%;
}

.about {
  background-color: white;
  color: #333;
  padding: 80px;
}

.function {
  background-color: #e9e9e9;
  padding: 80px;
  padding-bottom: 185px;
}

.function-images {
  width: 100%;
  display: table;
  margin-top: 10px;
  table-layout: fixed;
}

.function-image {
  display: table-cell;
  width: 100%;
}

.profile-images {
  width: 100%;
  display: table;
  margin-top: 10px;
  table-layout: fixed;
}

.profile-image {
  display: table-cell;
  width: 100%;
}

.password-images {
  width: 100%;
  display: table;
  margin-top: 10px;
  table-layout: fixed;
}

.password-image {
  display: table-cell;
  width: 100%;
}

footer {
  width: 100%;
  background-color:#BDB76B;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}
